.footer__row {
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 767px) {
	.footer__row {
		flex-direction: column;
		margin-bottom: 48px;
	}
}
