.footer__row-link_element {
    margin-right: 18px;
}

@media screen and (max-width: 767px) {
    .footer__row-link_element {
        margin-right: 0;
        margin-bottom: 32px;
    }

    .footer__row-link_element:last-child {
        margin-bottom: 0;
    }
}